
/* -------------------- */
/* === SLIDESHOW === */
/* -------------------- */

.slide {
    display: none;
}

.slide img {
    width: 50vh;
    height: auto;
    display: block;
    object-fit: contain;
}

/* Fade effect */
.fade {
    animation: fade 1s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Pijltjes */
.navigation {
    cursor: pointer;
    position: absolute;
    bottom: -2rem;
    padding: 16px;
    color: var(--kleur-rood);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    color: var(--kleur-l-rood);
}
